
<div class="form-container">
    <h2>Login</h2>
   
    <form name="userForm" method="post" ng-submit="dologin(loginData);" class="from-horizontal">
        <div class="form-group">
                
            <label for="username">User Name</label>
        </br>
            <div class="col-md-4">
            <input type="text"  name="username" ng-model="loginData.userName" placeholder="enter user name" ng-required="true" id="userName" class="form-control" />
        </div>
        </div>
        <div class="form-group">
            </br>
            <label for="password">Password</label> 
        </br>
    
            <div class="col-md-4">
            <input type="password" ng-model="loginData.passward" placeholder="enter user passward" ng-required="true" name="password" id="password" class="form-control" />
            </div>
    </div>
</br>
</br>
        <div class="form-group">
            <div id="2">
            <input type="submit" value="login" class="btn btn-primary" />
            <a ui-sref="persons" class="btn btn-warning">Cancel</a>
        </div>
        </div>

           
        </div>
    </form>
</div>
